html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My CSS */


#navigation {
	color:#B2B2CC;
	font-family: Verdana;
	font-size: 11px;
	height:30px;
	padding:7px;
	font-weight: bold;
}

#navigation ul {
	list-style:none;

}

#navigation li {
	display:inline;
}

#navigation a {
	font-family: Verdana;
	text-decoration:none;
	margin-right:10px;
	padding:10px;
	color:#305983;
	float:right;
}

#navigation ul li a:hover {
	color:black;
}

#text p {
	line-height: .1em;
	margin-bottom: 1px;
}

#text h1 {
	font-weight: 500;
	font-style: normal;
	font-size: 58px;
	clear: both;
	line-height: 1.0em;
	margin-bottom: 20px;
	letter-spacing: -2px;
	color: #232323;
}

#text h3 {
	font-size:20px;
	padding:10px;
}

#text {
	text-align: center;
}

figure	{
	display: inline;
}

figure div a {
	padding: 0 40px;
	text-decoration: none;
	display: inline-block;
}

.basecamp {
	position:absolute;
	left:450px;
	top:300px;
	text-align: center;
}

.highrise {
	position:absolute;
	left:750px;
	top:300px;
	text-align: center;
}

.campfire {
	position:absolute;
	left:1050px;
	top:300px;
	text-align: center;
}

.basecamp h3{
	color:#4D94FF;
}

.basecamp h4{
	color:red;
}

.basecamp p {
	color:black;
}

.highrise h3{
	color:#4D94FF;
}

.highrise h4{
	color:red;
}

.highrise p {
	color:black;
}

.campfire h3 {
	color:#4D94FF;
}

.campfire h4 {
	color:red;
}

.campfire p {
	color:black;
}

#registered {
	color:black;
	font-size:10px;
}

#registered2 {
	color:black;
	font-size:10px;
}

#trademark {
	color:black;
	font-size:10px;
}
